.title {
    font-weight: bold;
}

.cards {
    margin: 0 auto;
}

.card {
    max-width: 590px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
}

body{
    background-color: rgb(37, 37, 37);
}