@font-face {
    font-family: "Intro";
    src: url("../font/IntroRegular/IntroRegular.ttf");
}

@font-face {
    font-family: "Intro";
    src: url("../font/IntroRegular/IntroRegular.ttf");
}

$base-font: "Intro",
sans-serif;


$base-font2:'Roboto Slab',
serif;