main {
    display: grid;
    gap: 8px;
    margin: 20px;
    width: 190px;
}

.calc_btn {
    width: 34px;
}

input[type='number'] {
    margin-bottom: 8px;
    margin-top: 8px;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.calc {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
}

.changeColor {
    background-color: rgb(110, 110, 110);
}

.calc_name {
    color: white;
}